<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [45]:
import csv

from collections import namedtuple   # Convenient to store the data rows

import pandas as pd

DATA_FILE = './data/chipotle.tsv'

In [46]:
file_nested_list = pd.read_csv(DATA_FILE, delimiter='\t')
file_nested_list

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [47]:
header = file_nested_list.columns

In [48]:
data = file_nested_list.loc[0:,:]
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [30]:
#So this seemed like a fairly simple exercise, but I ran my code, and there was this funny thing happening with my order price column. It was not doing what I wanted it to do. It was just printing the item price twice. Then I realized: of course, item price is a string. My code was taking a string and multiplying it times the order quantity, which tells python to print the string twice (or whatever the number of quantity was).
#We need to convert item_price into a float type, not a string

In [49]:
##We're going to have to take away the dollar sign in order to convert item_price from string to float
data.loc[:,'item_price'] = [itemprice.replace('$', '') for itemprice in data.loc[:,'item_price']]
#Let's check if the code worked
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [ ]:
#Perfect! No dollar sign

In [50]:
##Now we need to turn item price into a float.
#There's actually a really cool function in Pandas called astype that allows you to change the datatype of dataframes. So let's use that.
data.loc[:,'item_price'] = data.loc[:,'item_price'].astype(float)

#Now let's see if it worked
data.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [ ]:
#Beufiful. Item_price is now a float variable. Now we can proceed very easily.
#I should say that I found that .astype() function from StackOverflow

In [52]:
##Let's get that mean order price
#First, we will create a new column called order price. This is obviously the item price multiplied by the quantity of items in the order.
data.loc[:,'order_price'] = data.loc[:,'item_price']*data.loc[:,'quantity']
data.head()

,order_id,quantity,item_name,choice_description,item_price,order_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [51]:
#Beautiful. Now order_price is actually giving me the multiplication of item_price and quantity. 
#All we have to do now is get the average price of the order.

In [102]:
##Let's get that mean.
data.loc[:,'order_price'].mean()
print('$',data.loc[:,'order_price'].mean())

$ 8.48918649935093

In [56]:
#Perfect. The mean order price in this dataframe is 8.49 dollars.

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [81]:
data.head()

,order_id,quantity,item_name,choice_description,item_price,order_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [85]:
##This one's cool. We're going to have to create a new dataframe that only incorporates the choice_description column only for rows where item_name is Canned Soda or Canned Soft Drink 
#First, let's tell pandas to only find us the rows that contain Canned Soda or Canned Soft Drink in the item_name column
soda_or_softdrink = (data.loc[:,'item_name']=='Canned Soda') | (data.loc[:,'item_name']=='Canned Soft Drink')
#Then let's created a dataframe of choice_description that incorporates those parameters.
all_sodas = (data.loc[soda_or_softdrink,'choice_description'])
all_sodas

18               [Sprite]
28           [Dr. Pepper]
51         [Mountain Dew]
53               [Sprite]
107          [Dr. Pepper]
117     [Diet Dr. Pepper]
126           [Coca Cola]
162           [Diet Coke]
171     [Diet Dr. Pepper]
179           [Coca Cola]
180          [Dr. Pepper]
195           [Coca Cola]
200           [Diet Coke]
228        [Mountain Dew]
246        [Mountain Dew]
247          [Dr. Pepper]
248        [Mountain Dew]
251     [Diet Dr. Pepper]
261        [Mountain Dew]
263                [Coke]
280           [Coca Cola]
292              [Sprite]
317           [Diet Coke]
320                [Coke]
337                [Coke]
346            [Lemonade]
347              [Sprite]
350           [Diet Coke]
352           [Coca Cola]
368           [Diet Coke]
              ...
4397             [Sprite]
4399               [Coke]
4410          [Diet Coke]
4422               [Coke]
4430               [Coke]
4462           [Lemonade]
4463           [Lemonade]
4464          [Diet Coke]
4480          [Diet Coke]
4490               [Coke]
4491             [Sprite]
4494           [Lemonade]
4496             [Sprite]
4499               [Coke]
4501             [Sprite]
4513          [Diet Coke]
4516             [Sprite]
4526             [Sprite]
4538               [Coke]
4545          [Diet Coke]
4552             [Sprite]
4560               [Coke]
4565             [Sprite]
4571          [Diet Coke]
4577               [Coke]
4585          [Diet Coke]
4597             [Nestea]
4601          [Diet Coke]
4606               [Coke]
4609             [Sprite]
Name: choice_description, Length: 405, dtype: object

In [96]:
##Okay. So we have a dataframe of all the sodas that chipotle sold in this order book, but that's not what we want. We want the list of unique sodas that chipotle sold. The dataframe we have has sodas that repeat themselves. 
#We need to get a list of all unique sodas. 
#Luckily, there's a function in Pandas that gives us all the unique values. So all we have to do is use that function and turn the data frame into a list.
unique_sodas = all_sodas.unique().tolist()
#Okay, let's check if it worked
print(unique_sodas)

['[Sprite]', '[Dr. Pepper]', '[Mountain Dew]', '[Diet Dr. Pepper]', '[Coca Cola]', '[Diet Coke]', '[Coke]', '[Lemonade]', '[Nestea]']

In [97]:
#It worked! But let's just take away those brackets because they are ugly.
unique_sodas = [character.replace('[','') for character in unique_sodas]
unique_sodas = [character.replace(']','') for character in unique_sodas]
print(unique_sodas)

['Sprite', 'Dr. Pepper', 'Mountain Dew', 'Diet Dr. Pepper', 'Coca Cola', 'Diet Coke', 'Coke', 'Lemonade', 'Nestea']

In [99]:
##Hmmm. So I don't know why chipotle did this, but they put Coca Cola as different than Coke. I don't know about them, but to me, Coca Cola is the same as Coke. 
#I'm gonna take it away, because that doesn't make any sense. 
unique_sodas.remove('Coca Cola')

In [101]:
print(unique_sodas)

['Sprite', 'Dr. Pepper', 'Mountain Dew', 'Diet Dr. Pepper', 'Diet Coke', 'Coke', 'Lemonade', 'Nestea']

In [100]:
##There. That looks better.

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [148]:
data.head()

,order_id,quantity,item_name,choice_description,item_price,order_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [149]:
##The first thing we need to do is get a dataframe that only gives us only the burritos. 
#We're going to find out which ones are the particular types of burritos
#I'm making a list of the item_name column because I want to iterate through that list, find all the burrito types, and append them into a burrito list.
all_unique_items = data.loc[:,'item_name'].unique().tolist()
print(all_unique_items)

['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar', 'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl', 'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos', 'Chips and Guacamole', 'Chicken Crispy Tacos', 'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda', 'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl', 'Bottled Water', 'Chips and Tomatillo Green Chili Salsa', 'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl', 'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl', 'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa', 'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chips and Roasted Chili-Corn Salsa', 'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos', 'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl', '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl', 'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad', 'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad', 'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad']

In [124]:
#Now I iterate and find the burrito types
unique_burritos = []
for item in all_unique_items:
    if 'Burrito' in item:
        unique_burritos.append(item)
print(unique_burritos)

['Steak Burrito', 'Chicken Burrito', 'Barbacoa Burrito', 'Carnitas Burrito', 'Veggie Burrito', 'Burrito']

In [146]:
#Great! Now that we have a list of all the different types of burritos, we can get a dataframe of burritos using the isin method in pandas
burritos_data = data.loc[data.item_name.isin(unique_burritos), :]

In [147]:
burritos_data.head(20)

,order_id,quantity,item_name,choice_description,item_price,order_price
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49,8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49,8.49
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99,8.99
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99,8.99
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49,8.49
31,16,1,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",8.99,8.99
43,20,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.75,11.75
45,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",10.98,10.98
46,21,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajit...",8.99,8.99
48,22,1,Steak Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99,8.99
50,23,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",8.99,8.99
52,24,1,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98,10.98
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
63,28,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",8.75,8.75
64,29,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99,8.99
67,30,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese]]",8.99,8.99
68,30,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",10.98,10.98

In [134]:
#This is great!!! I got a dataframe with only Burritos!

##Now I have to count the number of toppings in every Burrito, and I think I know exactly how to do that
#So the toppings are listed in the column choice_description.
#If this column was a list type, I could just do .len, count the number of elements within the list, and that would give me the number of toppings.

#But this column is not a list type, it is a string. So I guess I could change it into a list and then get the length. 
#But that would be extremely complicated code, given that it's not obvious where or how to tell python to split the string.
#But... what if there was something inside of the string that gave me an indication on the number of toppings?
#..... There is! The comma! The answer is in the comma!
#Every time there is a commma in choice_description for burrito, it signals a new topping!
burritos_data.loc[7,'choice_description']

'[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]'

In [152]:
#See? In this row, there are 8 toppings and 7 commas! So toppings = commas_in_string + 1! So let's count them up!
#The first thing I'll do is turn the choice_description column into a list.
toppings_list = burritos_data.loc[:,'choice_description'].tolist()
print(toppings_list[0:5])

['[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]', '[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]', '[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Cheese, Sour Cream]]', '[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]', '[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Rice, Cheese, Sour Cream, Lettuce]]']

In [153]:
##Now let's do a for loop that iterates through every choice_description of every order, counts the number of commas in every choice_description, and appends that number of commas+1 to a list of numbers of toppings per order
topping_num_perorder = []
for description in toppings_list:
    topping_count = 1
    for character in description:
        if character == ',':
            topping_count = topping_count + 1
    topping_num_perorder.append(topping_count)
print(topping_num_perorder[0:5])

[8, 7, 4, 6, 7]

In [155]:
#It worked!! It worked!!! 

##Now all we have to do is sum all the numbers inside the list, and divide them by the lenght of the list. We could turn it into a dataframe, and get the mean, but we can get the same result using methods particular to lists.
mean_toppings_perburrito = sum(topping_num_perorder)/len(topping_num_perorder)
mean_toppings_perburrito

5.395051194539249

In [ ]:
#We did it. This was great. The mean number of toppings for burrito orders is 5.395.
#Keep in mind that I assumed that every ingredient in choice description is counted as a topping, including the salsa.

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [156]:
from collections import defaultdict

In [157]:
##First things first: let's get a dataframe of all the chip orders
all_unique_items = data.loc[:,'item_name'].unique().tolist()
print(all_unique_items)

['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar', 'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl', 'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos', 'Chips and Guacamole', 'Chicken Crispy Tacos', 'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda', 'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl', 'Bottled Water', 'Chips and Tomatillo Green Chili Salsa', 'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl', 'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl', 'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa', 'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chips and Roasted Chili-Corn Salsa', 'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos', 'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl', '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl', 'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad', 'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad', 'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad']

In [158]:
#Let's iterate through this list and find all the chips
unique_chips = []
for item in all_unique_items:
    if 'Chips' in item:
        unique_chips.append(item)
print(unique_chips)

['Chips and Fresh Tomato Salsa', 'Chips and Tomatillo-Green Chili Salsa', 'Side of Chips', 'Chips and Guacamole', 'Chips and Tomatillo Green Chili Salsa', 'Chips', 'Chips and Tomatillo Red Chili Salsa', 'Chips and Roasted Chili-Corn Salsa', 'Chips and Roasted Chili Corn Salsa', 'Chips and Tomatillo-Red Chili Salsa', 'Chips and Mild Fresh Tomato Salsa']

In [169]:
#Let's get that Chip only dataframe
chips_data = data.loc[data.item_name.isin(unique_chips),:]
chips_data.head()

,order_id,quantity,item_name,choice_description,item_price,order_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
6,3,1,Side of Chips,NaN,1.69,1.69
10,5,1,Chips and Guacamole,NaN,4.45,4.45
14,7,1,Chips and Guacamole,NaN,4.45,4.45

In [166]:
##Now let's term the item_name column into a list
chip_orders = chips_data.loc[:,'item_name'].tolist()
print(chip_orders[0:5])

['Chips and Fresh Tomato Salsa', 'Chips and Tomatillo-Green Chili Salsa', 'Side of Chips', 'Chips and Guacamole', 'Chips and Guacamole']

In [168]:
##Now Let's create that dictionary
#We can use the .count() method from python to count the number of times each order in chip order repeats itself. We will create the dictionary with a for loop inside of it that will tell it what to put as the keys. 
chiporder_total = {chip_type:chip_orders.count(chip_type) for chip_type in chip_orders}
print(chiporder_total)

{'Chips and Fresh Tomato Salsa': 110, 'Chips and Tomatillo-Green Chili Salsa': 31, 'Side of Chips': 101, 'Chips and Guacamole': 479, 'Chips and Tomatillo Green Chili Salsa': 43, 'Chips': 211, 'Chips and Tomatillo Red Chili Salsa': 48, 'Chips and Roasted Chili-Corn Salsa': 18, 'Chips and Roasted Chili Corn Salsa': 22, 'Chips and Tomatillo-Red Chili Salsa': 20, 'Chips and Mild Fresh Tomato Salsa': 1}

In [ ]:
##It worked!

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!